{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}
    Zahlungsvorgänge
{% endblock %}


{% block body %}
    <div class="row">
            <h2>Zahlungsvorgänge</h2>
    </div>
    <div class="row" id="output"></div>
    <div class="row">
            {% if filter %}
                <form method="get">
                    <div class="row form-row ">
                        <div class="col-10">
                            {% bootstrap_form filter.form  show_label='skip' %}
                        </div>
                        <div class="col-2">
                            {% bootstrap_button 'filter' extra_classes="col-12 "  %}
                        </div>
                        
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {% render_table table 'django_tables2/bootstrap4.html' %}
        </div>
    </div>

    
    <script>
    $(".payment-button").click(function () {

        var url = $("#personOverview").attr("data-payment-url");

        var month = $(this).attr("data-id");
        console.log(month)

        $.ajax({
            url: url,
            data: {
                'month': "10_2021"
            },
            success: function (data) {
                document.getElementById('output').innerHTML = data;
            }

        });
    });
    </script>
{% endblock %}
