/env/
*.sqlite
*.sqlite3
*/__pycache__/
__pycache__/
.idea/
!.idea/hellcash.iml
*.csv
!example_data/*.csv
*.ods
*.ods#
pyvenv.cfg
*.pyc
.mypy_cache
.venv
xunit-reports/xunit-result-mypy.xml
src/config/config.py
out.csv